<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-adplay" version="0.1">
    <name>AdPlay</name>
    <author>Andy</author>
    <description>VMFive AdPlay SDK</description>
    <keywords>cordova, VMFive, Ad, AdPlay</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/Adplay.js" name="CordovaAdplay">
        <clobbers target="CordovaAdplay" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaAdplay">
                <param name="android-package" value="com.vm5.plugins.Adplay" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/Adplay.java" target-dir="src/com/vm5/plugins" />
    </platform>
</plugin>
